body {
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input {
    width: 95%;
    height: 22px;
    padding: 0.9rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}
input:focus{
    outline: none;
    box-shadow: 0 0 10px #009E9E;
}
a {
    color: #E9E9E9;
    font-size: 0.8rem;
}

button {
    margin-top: 1.2rem;
    width: 100%;
    padding: 0.9rem 2rem;
    color: #006A6A;
    font-size: 1rem;
    border: none;
    border-radius:4px;
    background-color: #CCCCCC;
    cursor: pointer;
}
button:hover{
    background-color: #E9E9E9;
}
.container {
    background-color: #E9E9E9;
    margin: auto;
    width: 600px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    overflow: hidden;
}
.header {
    padding: 0.9rem;
}
.header-tittle {
    color: #006A6A;
    font-size: 2rem;
    font-weight: 700;
}
.header-subtittle {
    color: #008D8C;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
}
.flex-container {
    display: flex;
    color: #E9E9E9;
    justify-content: space-around;
}
.coluna-1 {
    background-color: #006A6A;
    width: 50%;
    padding: 1.2rem;
}
.coluna-2 {
    background-color: #008D8C;
    width: 50%;
    padding: 0.6rem 1.2rem;
}
.assinatura-tittle {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.price {
    font-size: 1.6rem;
    font-weight: 700;
}
.mounth {
    font-style: italic;
    font-size: 0.9rem;
    margin-left: 0.9rem;
}

.image-group{
    text-align: center;
}

.form-register {
    background-color: #006A6A;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

@media screen and (max-width: 620px){
    html {
        font-size: 14px;
    }
    .flex-container {
        flex-direction: column;
    }
    .coluna-1, .coluna-2 {
        width: 100%;
        box-sizing: border-box;
    }
    .container {
        width: 95%;
    }
    .header {
        padding: 15px;
    }
}

